*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

#topline{
    margin-top: 20px;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
}

.formDiv{
    margin: auto;
    width: 80%;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    padding: 40px;
    padding-bottom: 6% !important;
    height: fit-content;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 10%;

}

.centerr{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    margin-bottom: 5px;
}

.topP{
    font-family: "Gill Sans", sans-serif;    text-align: center;
    padding: 5px 0 5px 0;
}

.moveup{
    position: relative !important;
    bottom: 10px !important;
    
}

.inputemp{
    display: inline !important;
    margin-left: 5%;
}

.submitAll{
    width: 20%;
    float: right;
    position: relative;
    top:10px;
    
}


@media all and (max-width:968px) {

    .inputTitles{
        font-size: 3vw !important;
        font-weight: 600 !important;
    }

}