.content {
    margin: 5% 0% 0 12%;
    width: 85%;
}

#welcome_par {
    padding-left: 10%;
    padding-top: 2%;
}

#cal_par,
#todays_App_par {
    text-align: center;
    padding-top: 3%;
}

.patients_tbl {
    padding-left: 10% !important;
    padding-right: 10% !important;
    border-collapse: separate!important;
}

.card {
    background: #7cc1b2 !important;
    float: left;
    width: 18%;
    margin: 10px;
    color: #1e1c1c;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.col-auto {
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-body {
    text-align: left;
}

.row {
    height: 5%;
}

.patients-links {
    position: absolute;
    background-color: #CCCCCC;
    border-radius: 5px;
    bottom: 15px;
    list-style-type: none;
    margin-left: -15px;
    padding: 10px;
    display: none;
    z-index: 1;
}

li.liPatients {
    margin: 2px 0 2px 0;
}

.side_arrow {
    position: absolute;
    top: 455px;
    left: 230px;
    display: none;
    z-index: 200;
    /* width: 20px;
    height: 20px; */
}

.side_arrow:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent #CCCCCC transparent transparent;
}

ul li:hover a {
    color: black;
}


/* .side_arrow  {
	width: 130px;
	background: #9972bf;
	text-align: left;	
	padding: 20px;
} */

.noSessionTxt {
    display: none;
    font-size: 20px !important;
    position: absolute;
    background-color: #CCCCCC;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 40px;
    width: 140px;
    padding: 10px;
}