#content {
    margin: 5% 0% 0 14%;
    width: 85%;
}

#settings {
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.4);
    border-radius: 9px 12px;
    padding: 30px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.4);
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#setting {
    margin: 20px 0 20px 20px;
}

#title {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    /* margin-right: 14%; */
   
}

.spann {
    display: inline;
    font-size:20px;
}

.inputs {
    border-radius: 5px;
    width: 30%;
    display: none;
    position: relative;
}



.editt {
    cursor: pointer;
    font-size: 15px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 10% !important;
}

.dolarsign {
    margin-right: 10px;
}

.text-danger {
    display: none;
}

.btn-primary1 {
    background-color: #7cc1b2 !important;
    border-color: aliceblue !important;
}

.danger {
    width: 137px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    background-color: #FF3860;
    border-radius: 5px;
    border-color: red;
}

    .danger:hover {
        background-color: red;
    }

#submitDiv {
    padding-top: 30px;
}

.pass {
    margin-top: 4px;
}
#dr_type{
    width:30% !important;
    margin-left:20px;
}